.product-add-wrapper, .product-order-wrapper {
	margin : 0 auto;
	width  : 60%;

	.product-form-wrapper {
		padding : 20px 50px;

		.product-form-footer {
			margin-top : 10px;
		}
	}

	.product-order-body {
		padding : 20px;
		.products-wrapper {
			max-height : 550px;
			overflow-x : scroll;
			position   : relative;
			min-height : 50px;
		}
	}
}

.product-list-wrapper, .product-view-wrapper {
	margin : 0 auto;
	width  : 90%;
}

.product-dialog-price {
  width      : 200px !important;
  text-align : right;
}

.product-view-wrapper {
	.details-wrapper {
		padding : 40px;
	}
}
